.img4{
    display: flex;
position:absolute;
top:0%;
left: 0%;
height: 100%;

width: 100%;
/*transform: scaleX(1.2);*/
z-index: -1;
}

.rover{
display: flex;
flex-direction: column;
position: absolute;
height: 80%;
/*background-color:rgb(53, 184, 184);*/
width: 100%;
top:20%;
margin: 0px;
border: 0px;

}